body {
    background-color: #06afbb;
    }
 
 .tag {
    font-family: inherit; 
    font-size: 1rem;
    }  

.jumbotron {
    background-image: url("../images/bacteria.jpg");
    background-size: 100% 100%;
    text-align: center;
    }

h1.heading-color {
    color: white;
    }

p.para-color {
    color: white;
    }

div.col-md-5 {
    padding: 15px; 
    resize: auto;
    }

div.col-md-12 {
    padding: 15px; 
    resize: auto;
    }

div.col-md-2 {
    padding: 15px; 
    resize: auto;
    }
    
